*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
utility/src/commonMain/kotlin/com/kunduthchstudio/utility/API_KEY.kt

# Local GitHub OAuth configuration
utility/src/commonMain/kotlin/com/kunduthchstudio/utility/GitHubConfig.kt
